# Project Notebook: Optimizing DataFrames and Processing in Chunks

project 2

## 1. Introduction

In this project, we'll practice working with chunked dataframes and optimizing a dataframe's memory usage. We'll be working with financial lending data from Lending Club, a marketplace for personal loans that matches borrowers with investors. You can read more about the marketplace on its website.

The Lending Club's website lists approved loans. Qualified investors can view the borrower's credit score, the purpose of the loan, and other details in the loan applications. Once a lender is ready to back a loan, it selects the amount of money it wants to fund. When the loan amount the borrower requested is fully funded, the borrower receives the money, minus the origination fee that Lending Club charges.

We'll be working with a dataset of loans approved from 2007-2011 (https://bit.ly/3H2XVgC). We've already removed the desc column for you to make our system run more quickly.

If we read in the entire data set, it will consume about 67 megabytes of memory. Let's imagine that we only have 10 megabytes of memory available throughout this project, so you can practice the concepts you learned in the last two lessons.

**Tasks**

1. Read in the first five lines from `loans_2007.csv` (https://bit.ly/3H2XVgC) and look for any data quality issues.

2. Read in the first 1000 rows from the data set, and calculate the total memory usage for these rows. Increase or decrease the number of rows to converge on a memory usage under five megabytes (to stay on the conservative side).

In [1]:
# Importing pandas
import pandas as pd
pd.options.display.max_columns = 99

# Your code goes here
# memory_footprints = []
df = pd.read_csv("https://bit.ly/3H2XVgC", nrows = 5)
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

There are columns containing null values.

Reading 1000 and calculating total  memory

In [ ]:
df = pd.read_csv("https://bit.ly/3H2XVgC", nrows = 1000)
df.info(memory_usage = "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          1000 non-null   int64
 1   member_id                   1000 non-null   float64
 2   loan_amnt                   1000 non-null   float64
 3   funded_amnt                 1000 non-null   float64
 4   funded_amnt_inv             1000 non-null   float64
 5   term                        1000 non-null   object
 6   int_rate                    1000 non-null   object
 7   installment                 1000 non-null   float64
 8   grade                       1000 non-null   object
 9   sub_grade                   1000 non-null   object
 10  emp_title                   949 non-null    object
 11  emp_length                  983 non-null    object
 12  home_ownership              1000 non-null   object
 13  annual_inc                  1000 non-null   float64
 14  verification_status         1000 non-null   object
 15  issue_d                     1000 non-null   object
 16  loan_status                 1000 non-null   object
 17  pymnt_plan                  1000 non-null   object
 18  purpose                     1000 non-null   object
 19  title                       1000 non-null   object
 20  zip_code                    1000 non-null   object
 21  addr_state                  1000 non-null   object
 22  dti                         1000 non-null   float64
 23  delinq_2yrs                 1000 non-null   float64
 24  earliest_cr_line            1000 non-null   object
 25  inq_last_6mths              1000 non-null   float64
 26  open_acc                    1000 non-null   float64
 27  pub_rec                     1000 non-null   float64
 28  revol_bal                   1000 non-null   float64
 29  revol_util                  1000 non-null   object
 30  total_acc                   1000 non-null   float64
 31  initial_list_status         1000 non-null   object
 32  out_prncp                   1000 non-null   float64
 33  out_prncp_inv               1000 non-null   float64
 34  total_pymnt                 1000 non-null   float64
 35  total_pymnt_inv             1000 non-null   float64
 36  total_rec_prncp             1000 non-null   float64
 37  total_rec_int               1000 non-null   float64
 38  total_rec_late_fee          1000 non-null   float64
 39  recoveries                  1000 non-null   float64
 40  collection_recovery_fee     1000 non-null   float64
 41  last_pymnt_d                999 non-null    object
 42  last_pymnt_amnt             1000 non-null   float64
 43  last_credit_pull_d          1000 non-null   object
 44  collections_12_mths_ex_med  1000 non-null   float64
 45  policy_code                 1000 non-null   float64
 46  application_type            1000 non-null   object
 47  acc_now_delinq              1000 non-null   float64
 48  chargeoff_within_12_mths    1000 non-null   float64
 49  delinq_amnt                 1000 non-null   float64
 50  pub_rec_bankruptcies        1000 non-null   float64
 51  tax_liens                   1000 non-null   float64
dtypes: float64(30), int64(1), object(21)
memory usage: 1.5 MB

## 2. Exploring the Data in Chunks

Let's familiarize ourselves with the columns to see which ones we can optimize. In the first lesson, we explored column types by reading in the full dataframe. In this project, let's try to understand the column types better while using dataframe chunks.

**Tasks**

For each chunk:
* How many columns have a numeric type? 
* How many have a string type?
* How many unique values are there in each string column? How many of the string columns contain values that are less than 50% unique?
* Which float columns have no missing values and could be candidates for conversion to the integer type?
* Calculate the total memory usage across all of the chunks.

How many columns have a numeric type?

In [ ]:
chunk_iter = pd.read_csv("loans_2007.csv", chunksize=1000, header=0)

for chunk in chunk_iter:
  chunk_iter_q = chunk.select_dtypes(include=['float64']).columns
  
print(len(chunk_iter_q))

30

How many have a string type?

In [ ]:
chunk_iter = pd.read_csv("loans_2007.csv", chunksize=1000, header=0)

for chunk in chunk_iter:
  str_type = chunk.select_dtypes(include=['object']).columns
  
print(len(str_type))

22

Calculate the total memory usage across all of the chunks.

In [ ]:
memory_footprints = []

chunk_iter = pd.read_csv("https://bit.ly/2YvILyP", chunksize=1000)
for chunk in chunk_iter:
    memory_footprints.append(chunk.memory_usage(deep=True).sum()/(1024*1024))
    
print(sum(memory_footprints))

45.36312770843506

How many unique values are there in each string column? How many of the string columns contain values that are less than 50% unique?

In [ ]:
df = pd.read_csv("loans_2007.csv")
count = 0
for col in df.select_dtypes(include=['object']):
    num_unique_values = len(df[col].unique())
    print(f"{col} : {df[col].nunique()}")
    num_total_values = len(df[col])
    if num_unique_values / num_total_values < 0.5:
        count += 1
print(f"string columns containing values that are less than 50% unique: {count}")

id : 42538
term : 2
int_rate : 394
grade : 7
sub_grade : 35
emp_title : 30658
emp_length : 11
home_ownership : 5
verification_status : 3
issue_d : 55
loan_status : 9
pymnt_plan : 2
purpose : 14
title : 21264
zip_code : 837
addr_state : 50
earliest_cr_line : 530
revol_util : 1119
initial_list_status : 1
last_pymnt_d : 103
last_credit_pull_d : 108
application_type : 1
string columns containing values that are less than 50% unique: 20

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## 3. Optimizing String Columns

We can achieve the greatest memory improvements by converting the string columns to a numeric type. Let's convert all of the columns where the values are less than 50% unique to the category type, and the columns that contain numeric values to the `float` type.

While working with dataframe chunks:
* Determine which string columns you can convert to a numeric type if you clean them. For example, the `int_rate` column is only a string because of the % sign at the end.
* Determine which columns have a few unique values and convert them to the category type. For example, you may want to convert the grade and `sub_grade` columns.
Based on your conclusions, perform the necessary type changes across all chunks. * Calculate the total memory footprint, and compare it with the previous one.

In [ ]:
# Your code goes here

# identifying the columns that can be converted to numeric after cleaning
chunk_iter = pd.read_csv("loans_2007.csv", chunksize=1000)
lst = []
for chunk in chunk_iter:
  chunk = chunk.select_dtypes(include=['object'])
  lst.append(chunk.head(5))
print(lst[0].append(lst[1]) )

            term int_rate grade sub_grade                 emp_title  \
0      36 months   10.65%     B        B2                       NaN
1      60 months   15.27%     C        C4                     Ryder
2      36 months   15.96%     C        C5                       NaN
3      36 months   13.49%     C        C1       AIR RESOURCES BOARD
4      60 months   12.69%     B        B5  University Medical Group
1000   36 months   14.27%     C        C2               CTA Digital
1001   36 months   14.27%     C        C2   kansas state university
1002   36 months   14.65%     C        C3       Sabic Polymershapes
1003   36 months   12.69%     B        B5                Macy's Inc
1004   36 months   12.69%     B        B5            Michael C Fina

     emp_length home_ownership verification_status   issue_d  loan_status  \
0     10+ years           RENT            Verified  Dec-2011   Fully Paid
1      < 1 year           RENT     Source Verified  Dec-2011  Charged Off
2     10+ years           RENT        Not Verified  Dec-2011   Fully Paid
3     10+ years           RENT     Source Verified  Dec-2011   Fully Paid
4        1 year           RENT     Source Verified  Dec-2011      Current
1000   < 1 year           RENT     Source Verified  Dec-2011   Fully Paid
1001    5 years           RENT        Not Verified  Dec-2011   Fully Paid
1002   < 1 year           RENT     Source Verified  Dec-2011   Fully Paid
1003   < 1 year           RENT     Source Verified  Dec-2011   Fully Paid
1004    2 years            OWN            Verified  Dec-2011   Fully Paid

     pymnt_plan             purpose                          title zip_code  \
0             n         credit_card                       Computer    860xx
1             n                 car                           bike    309xx
2             n      small_business           real estate business    606xx
3             n               other                       personel    917xx
4             n               other                       Personal    972xx
1000          n  debt_consolidation  Debt Clearing Commitment Plan    111xx
1001          n         credit_card               Credit Card Loan    665xx
1002          n         credit_card   Sick of high interest rates!    920xx
1003          n  debt_consolidation                  Consolidation    200xx
1004          n         credit_card                        CC Debt    100xx

     addr_state earliest_cr_line revol_util initial_list_status last_pymnt_d  \
0            AZ         Jan-1985      83.7%                   f     Jan-2015
1            GA         Apr-1999       9.4%                   f     Apr-2013
2            IL         Nov-2001      98.5%                   f     Jun-2014
3            CA         Feb-1996        21%                   f     Jan-2015
4            OR         Jan-1996      53.9%                   f     Jun-2016
1000         NY         Nov-2001      65.7%                   f     Dec-2013
1001         KS         Mar-2007      86.5%                   f     Jun-2013
1002         CA         Apr-2001      92.5%                   f     Apr-2014
1003         DC         Jun-2003      89.3%                   f     Dec-2014
1004         NY         Mar-1992      81.5%                   f     Dec-2014

     last_credit_pull_d application_type
0              Jun-2016       INDIVIDUAL
1              Sep-2013       INDIVIDUAL
2              Jun-2016       INDIVIDUAL
3              Apr-2016       INDIVIDUAL
4              Jun-2016       INDIVIDUAL
1000           Dec-2013       INDIVIDUAL
1001           Jul-2013       INDIVIDUAL
1002           Oct-2015       INDIVIDUAL
1003           Jun-2016       INDIVIDUAL
1004           Jun-2016       INDIVIDUAL

- columns that can be cleaned into integer include:

1. int_rate
2. revol_util

In [ ]:
chunk_iter = pd.read_csv("loans_2007.csv", chunksize=1000)
lst = []
for chunk in chunk_iter:
  lst.append([chunk['term'].unique(),
  chunk['int_rate'].unique(),
  chunk['revol_util'].unique()])
  break

print(lst)

[[array([' 36 months', ' 60 months'], dtype=object), array([' 10.65%', ' 15.27%', ' 15.96%', ' 13.49%', ' 12.69%', '  7.90%',
       ' 18.64%', ' 21.28%', ' 14.65%', '  9.91%', ' 16.29%', '  6.03%',
       ' 11.71%', ' 12.42%', ' 14.27%', ' 16.77%', '  7.51%', '  8.90%',
       ' 18.25%', '  6.62%', ' 19.91%', ' 17.27%', ' 17.58%', ' 21.67%',
       ' 19.42%', ' 22.06%', ' 20.89%', ' 20.30%', ' 23.91%', ' 19.03%',
       ' 23.52%', ' 23.13%', ' 22.74%', ' 22.35%'], dtype=object), array(['83.7%', '9.4%', '98.5%', '21%', '53.9%', '28.3%', '85.6%',
       '87.5%', '32.6%', '36.5%', '20.6%', '67.1%', '91.7%', '43.1%',
       '55.5%', '81.5%', '70.2%', '16%', '37.73%', '23.1%', '90.3%',
       '82.4%', '91.8%', '29.7%', '93.9%', '57.6%', '59.5%', '37.7%',
       '59.1%', '86.9%', '27.4%', '63.6%', '29.3%', '60.5%', '57.2%',
       '13.3%', '50.4%', '66.5%', '50%', '18.1%', '98.1%', '99%', '32.5%',
       '13.4%', '62.1%', '52.3%', '19.5%', '36.4%', '63.7%', '62%',
       '92.9%', '90.8%', '52.1%', '97.6%', '75.1%', '72.7%', '91.2%',
       '58.9%', '57.4%', '66.9%', '30.1%', '45.9%', '70.8%', '83.4%',
       '73.9%', '79.5%', '79.4%', '67.5%', '83.2%', '97%', '55%', '78.5%',
       '65%', '6.7%', '77.8%', '53.3%', '81.3%', '74.8%', '13.9%',
       '82.3%', '78.7%', '78.3%', '96.4%', '27.6%', '78.4%', '78.1%',
       '88.4%', '51.2%', '52.4%', '89.7%', '46.3%', '86.1%', '47.7%',
       '87.1%', '36.8%', '79.6%', '79.7%', '55.2%', '83.8%', '91.5%',
       '82.9%', '21.9%', '58.7%', '48%', '97.7%', '96.3%', '46.5%',
       '49.5%', '54.1%', '37.2%', '54.2%', '27%', '56.5%', '87.6%',
       '76.6%', '70.7%', '34.8%', '0.6%', '47.6%', '71.2%', '43.4%',
       '33.3%', '35.9%', '58%', '56.6%', '62.3%', '31.2%', '67.3%',
       '65.4%', '72.4%', '40.5%', '83.5%', '61.4%', '97.2%', '65.8%',
       '80.2%', '28%', '88.2%', '92.3%', '91.6%', '66.8%', '69%', '54.3%',
       '49.8%', '95.9%', '28.5%', '42.2%', '67.2%', '34.6%', '48.3%',
       '68.1%', '85.7%', '69.5%', '79.9%', '70.9%', '65.6%', '95.3%',
       '74.9%', '75.9%', '24.1%', '1.4%', '71.7%', '61.8%', '89.3%',
       '77.7%', '84.6%', '48.8%', '80.3%', '35.4%', '86.2%', '89.1%',
       '55.4%', '88.7%', '77.5%', '76.7%', '73.4%', '64.8%', '90%',
       '71.6%', '89.8%', '84.7%', '89.6%', '82.7%', '25.5%', '75%',
       '50.3%', '51.1%', '75.3%', '92.8%', '90.9%', '50.7%', '97.8%',
       '50.1%', '66.7%', '70.4%', '73.7%', '38.8%', '71%', '35.7%',
       '74.5%', '93.2%', '83.6%', '67.7%', '51.6%', '55.9%', '66%',
       '64.5%', '22.6%', '18.7%', '43.3%', '77.9%', '90.6%', '43%',
       '57.3%', '34.4%', '24.4%', '66.1%', '80.5%', '30.3%', '94.1%',
       '53%', '9.9%', '58.5%', '4%', '39.8%', '61.5%', '66.3%', '63.9%',
       '91.9%', '45.2%', '25.7%', '75.7%', '47%', '44.6%', '80.6%',
       '27.8%', '37.4%', '56.2%', '49.4%', '48.5%', '55.6%', '48.4%',
       '65.5%', '72.9%', '3.2%', '96.2%', '83.1%', '43.8%', '79.1%',
       '62.5%', '91.1%', '60.8%', '88.3%', '12.9%', '86.7%', '69.4%',
       '33.5%', '59.9%', '80.8%', '29.4%', '85.2%', '75.5%', '52.7%',
       '68.7%', '57.7%', '34.1%', '84.3%', '56.7%', '23.5%', '7.7%',
       '54.8%', '59.6%', '8.1%', '88.5%', '85.1%', '68.5%', '64.2%',
       '59.4%', '79%', '81.8%', '26%', '6.2%', '89%', '51.7%', '67%',
       '25.6%', '46.1%', '94.9%', '70.6%', '77.2%', '71.1%', '62.7%',
       '35.5%', '47.4%', '88.6%', '57.9%', '87.9%', '59.2%', '45%', '59%',
       '72.2%', '65.7%', '12.4%', '93.8%', '77%', '65.2%', '25%', '10%',
       '37.6%', '44.9%', '63%', '56%', '88.9%', '54.9%', '82.2%', '88.8%',
       '94.6%', '61%', '25.2%', '81.2%', '74.3%', '47.2%', '92.4%',
       '99.3%', '79.2%', '44.1%', '99.8%', '85.4%', '63.8%', '84.9%',
       '53.7%', '44%', '69.1%', '50.5%', '96%', '68.8%', '41%', '76.5%',
       '10.4%', '6%', '17.3%', '98%', '62.6%', '38.1%', '74.7%', '85%',
       '6.8%', '79.3%', '72.1%', '31.4%', '64.6%', '84.1%', '90.1%',
       '5.9%', '74.4%', '65.9%', '38.4%', '92.5%', '81%', '15.7%',
       '51.8%', '62.4%', '85.3%', '97.4%', '18.8%', '94.4%', '46%',
       '68.9%', '94.2%', '0.1%', '61.1%', '89.4%', '94%', '46.7%',
       '67.8%', '69.3%', '71.3%', '72%', '93.5%', '52.2%', '93%', '75.2%',
       '45.4%', '5.5%', '40.6%', '18.5%', '94.8%', '85.5%', '22.4%',
       '66.2%', '15.4%', '60.2%', '95%', '92.1%', '93.3%', '46.6%', '92%',
       '25.3%', '84.5%', '28.2%', '24.8%', '36.1%', '72.8%', '47.8%',
       '89.9%', '44.2%', '94.5%', '76%', '96.9%', '60.6%', '90.2%',
       '65.3%', '64.3%', '4.6%', '96.7%', '87.8%', '40.7%', '82.6%',
       '38.5%', '13%', '22.5%', '18.9%', '80.1%', '76.2%', '78.9%',
       '92.7%', '97.3%', '41.5%', '61.9%', '77.6%', '72.5%', '63.4%',
       '94.7%', '74.1%', '55.8%', '63.1%', '75.6%', '95.8%', '35.3%',
       '98.6%', '32%', '93.1%', '81.1%', '78.6%', '49%', '72.3%', '45.7%',
       '87.2%', '66.6%', '79.8%', '2.7%', '82.5%', '59.3%', '48.1%',
       '70.3%', '62.9%', '70%', '60.1%', '86.3%', '92.2%', '78.2%',
       '83.9%', '27.2%', '37.3%', '34.3%', '70.5%', '75.4%', '63.2%',
       '91%', '47.1%', '0.7%', '77.4%', '98.9%', '15.3%', '38.6%',
       '12.8%', '45.3%', '91.3%', '99.1%', '53.5%', '76.1%', '42.9%',
       '74.6%', '50.6%', '71.8%', '73.3%', '80.9%', '36.2%', '69.9%',
       '42.6%', '94.3%', '27.3%', '4.1%', '74.2%', '99.5%', '68%', '87%',
       '57.5%', '30.8%', '67.6%', '44.5%', '42.4%', '64.1%', '73.1%',
       '44.8%', '88%', '59.7%', '58.1%', '56.3%', '39%', '81.6%', '86.5%',
       '28.7%', '30.5%', '60.3%', '68.4%', '49.6%', '52.9%', '5.2%',
       '57%', '89.5%', '71.4%', '9.3%', '50.2%', '61.3%', '61.2%',
       '26.5%', '66.4%', '52.8%', '56.9%', '49.7%', '80.7%', '47.9%',
       '70.1%', '52%', '86.4%', '35.2%', '46.4%', '52.5%', '56.8%',
       '4.8%', '15.1%', '61.6%', '83.3%', '16.2%', '80.4%', '87.7%',
       '37.5%', '49.2%', '14.7%', '41.4%', '46.9%', '82.1%', '30.7%',
       '73.5%', '0%', '60.7%', '49.9%', '98.4%', '93.7%', '22.9%',
       '46.8%', '84%', '74%', '76.8%', '83%'], dtype=object)]]

Determine which string columns you can convert to a numeric type if you clean them. For example, the int_rate column is only a string because of the % sign at the end.

In [ ]:

chunk_iter = pd.read_csv("loans_2007.csv", chunksize=1000)
for chunk in chunk_iter:
  chunk['int_rate'] = chunk['int_rate'].str.replace('%', '')
  chunk['revol_util'] = chunk['revol_util'].str.replace('%', '')

  cols = ['int_rate','revol_util']
  for col in cols:
    chunk[col] = chunk[col].astype('float')

print(chunk.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538 entries, 42000 to 42537
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          538 non-null    object
 1   member_id                   536 non-null    float64
 2   loan_amnt                   536 non-null    float64
 3   funded_amnt                 536 non-null    float64
 4   funded_amnt_inv             536 non-null    float64
 5   term                        536 non-null    object
 6   int_rate                    536 non-null    float64
 7   installment                 536 non-null    float64
 8   grade                       536 non-null    object
 9   sub_grade                   536 non-null    object
 10  emp_title                   499 non-null    object
 11  emp_length                  536 non-null    object
 12  home_ownership              536 non-null    object
 13  annual_inc                  532 non-null    float64
 14  verification_status         536 non-null    object
 15  issue_d                     536 non-null    object
 16  loan_status                 536 non-null    object
 17  pymnt_plan                  536 non-null    object
 18  purpose                     536 non-null    object
 19  title                       536 non-null    object
 20  zip_code                    536 non-null    object
 21  addr_state                  536 non-null    object
 22  dti                         536 non-null    float64
 23  delinq_2yrs                 507 non-null    float64
 24  earliest_cr_line            507 non-null    object
 25  inq_last_6mths              507 non-null    float64
 26  open_acc                    507 non-null    float64
 27  pub_rec                     507 non-null    float64
 28  revol_bal                   536 non-null    float64
 29  revol_util                  504 non-null    float64
 30  total_acc                   507 non-null    float64
 31  initial_list_status         536 non-null    object
 32  out_prncp                   536 non-null    float64
 33  out_prncp_inv               536 non-null    float64
 34  total_pymnt                 536 non-null    float64
 35  total_pymnt_inv             536 non-null    float64
 36  total_rec_prncp             536 non-null    float64
 37  total_rec_int               536 non-null    float64
 38  total_rec_late_fee          536 non-null    float64
 39  recoveries                  536 non-null    float64
 40  collection_recovery_fee     536 non-null    float64
 41  last_pymnt_d                536 non-null    object
 42  last_pymnt_amnt             536 non-null    float64
 43  last_credit_pull_d          534 non-null    object
 44  collections_12_mths_ex_med  447 non-null    float64
 45  policy_code                 536 non-null    float64
 46  application_type            536 non-null    object
 47  acc_now_delinq              507 non-null    float64
 48  chargeoff_within_12_mths    447 non-null    float64
 49  delinq_amnt                 507 non-null    float64
 50  pub_rec_bankruptcies        26 non-null     float64
 51  tax_liens                   470 non-null    float64
dtypes: float64(32), object(20)
memory usage: 218.7+ KB
None

Determine which columns have a few unique values and convert them to the category type. For example, you may want to convert the grade and sub_grade columns. Based on your conclusions, perform the necessary type changes across all chunks. * Calculate the total memory footprint, and compare it with the previous one.

In [ ]:
chunk_iter  = pd.read_csv("loans_2007.csv", chunksize=1000, header=0)
for U in chunk_iter :
  for col in U.select_dtypes(include=['object']):
    sum = len(U[col])
    U_sum = len(U[col].unique())
    Q = (U_sum/sum)*100
    if Q < 50:
      U[col] = U[col].astype('category')
print(U)

                                                    id  member_id  loan_amnt  \
42000                                           247286   247257.0     6000.0
42001                                           246996   244258.0    17250.0
42002                                           246720   246706.0    13000.0
42003                                           246535   246427.0    12000.0
42004                                           246197   217842.0     4000.0
...                                                ...        ...        ...
42533                                            72176    70868.0     2525.0
42534                                            71623    70735.0     6500.0
42535                                            70686    70681.0     5000.0
42536  Total amount funded in policy code 1: 471701350        NaN        NaN
42537          Total amount funded in policy code 2: 0        NaN        NaN

       funded_amnt  funded_amnt_inv        term int_rate  installment grade  \
42000       6000.0      4201.940000   36 months   11.34%       197.40     C
42001      17250.0     12150.005316   36 months   17.66%       620.70     G
42002      13000.0      7700.000000   36 months   15.13%       451.48     E
42003      12000.0      5650.000000   36 months   18.29%       435.58     G
42004       4000.0      3849.997562   36 months   10.08%       129.22     B
...            ...              ...         ...      ...          ...   ...
42533       2525.0       225.000000   36 months    9.33%        80.69     B
42534       6500.0         0.000000   36 months    8.38%       204.84     A
42535       5000.0         0.000000   36 months    7.75%       156.11     A
42536          NaN              NaN         NaN      NaN          NaN   NaN
42537          NaN              NaN         NaN      NaN          NaN   NaN

      sub_grade           emp_title emp_length home_ownership  annual_inc  \
42000        C2            Best Buy    3 years           RENT     32000.0
42001        G2        CVS PHARMACY    2 years            OWN     62000.0
42002        E4      General Motors    7 years           RENT     78000.0
42003        G4  usa medical center    6 years           RENT     62000.0
42004        B3    InvestSource Inc    4 years           RENT     48000.0
...         ...                 ...        ...            ...         ...
42533        B3                 NaN   < 1 year           RENT    110000.0
42534        A5                 NaN   < 1 year           NONE         NaN
42535        A3           Homemaker  10+ years       MORTGAGE     70000.0
42536       NaN                 NaN        NaN            NaN         NaN
42537       NaN                 NaN        NaN            NaN         NaN

      verification_status   issue_d  \
42000        Not Verified  Feb-2008
42001        Not Verified  Feb-2008
42002        Not Verified  Feb-2008
42003        Not Verified  Feb-2008
42004        Not Verified  Feb-2008
...                   ...       ...
42533        Not Verified  Jun-2007
42534        Not Verified  Jun-2007
42535        Not Verified  Jun-2007
42536                 NaN       NaN
42537                 NaN       NaN

                                             loan_status pymnt_plan  \
42000  Does not meet the credit policy. Status:Fully ...          n
42001  Does not meet the credit policy. Status:Charge...          n
42002  Does not meet the credit policy. Status:Fully ...          n
42003  Does not meet the credit policy. Status:Fully ...          n
42004  Does not meet the credit policy. Status:Charge...          n
...                                                  ...        ...
42533  Does not meet the credit policy. Status:Fully ...          n
42534  Does not meet the credit policy. Status:Fully ...          n
42535  Does not meet the credit policy. Status:Fully ...          n
42536                                                NaN        NaN
42537                                                NaN        NaN

                  purpose                                title zip_code  \
42000  debt_consolidation                     Paying off Bills    326xx
42001  debt_consolidation       School expenses from residency    787xx
42002  debt_consolidation            Credit Card Consolidation    480xx
42003  debt_consolidation  want to have one bill instead of 12    366xx
42004  debt_consolidation         Need to pay credit card debt    928xx
...                   ...                                  ...      ...
42533               other                      Car repair bill    100xx
42534               other                         Buying a car    100xx
42535               other                       Aroundthehouse    068xx
42536                 NaN                                  NaN      NaN
42537                 NaN                                  NaN      NaN

      addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  \
42000         FL  21.90          0.0         Jul-2000             0.0
42001         TX  20.44          0.0         Mar-1989             7.0
42002         MI  29.28          0.0         Dec-1998             3.0
42003         AL  25.26          0.0         Jul-1995             3.0
42004         CA   0.75          0.0         Sep-2005             0.0
...          ...    ...          ...              ...             ...
42533         NY  10.00          NaN              NaN             NaN
42534         NY   4.00          NaN              NaN             NaN
42535         CT   8.81          NaN              NaN             NaN
42536        NaN    NaN          NaN              NaN             NaN
42537        NaN    NaN          NaN              NaN             NaN

       open_acc  pub_rec  revol_bal revol_util  total_acc initial_list_status  \
42000       5.0      0.0     7152.0     100.7%       12.0                   f
42001      16.0      0.0    28776.0      51.9%       19.0                   f
42002       6.0      0.0    61057.0      80.7%       17.0                   f
42003      14.0      0.0    13560.0      57.2%       41.0                   f
42004       4.0      0.0     3403.0        74%        4.0                   f
...         ...      ...        ...        ...        ...                 ...
42533       NaN      NaN        0.0        NaN        NaN                   f
42534       NaN      NaN        0.0        NaN        NaN                   f
42535       NaN      NaN        0.0        NaN        NaN                   f
42536       NaN      NaN        NaN        NaN        NaN                 NaN
42537       NaN      NaN        NaN        NaN        NaN                 NaN

       out_prncp  out_prncp_inv   total_pymnt  total_pymnt_inv  \
42000        0.0            0.0   7106.392519          4960.00
42001        0.0            0.0   4344.890000          3058.87
42002        0.0            0.0  16253.158419          9626.87
42003        0.0            0.0  15680.712874          7383.00
42004        0.0            0.0   3281.400000          3158.71
...          ...            ...           ...              ...
42533        0.0            0.0   2904.498829           258.82
42534        0.0            0.0   7373.904962             0.00
42535        0.0            0.0   5619.762090             0.00
42536        NaN            NaN           NaN              NaN
42537        NaN            NaN           NaN              NaN

       total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  \
42000          6000.00        1106.40                 0.0        0.00
42001          2278.94        2065.95                 0.0        0.00
42002         13000.00        3253.16                 0.0        0.00
42003         12000.00        3680.71                 0.0        0.00
42004          2637.73         582.00                 0.0       61.67
...                ...            ...                 ...         ...
42533          2525.00         379.50                 0.0        0.00
42534          6500.00         873.90                 0.0        0.00
42535          5000.00         619.76                 0.0        0.00
42536              NaN            NaN                 NaN         NaN
42537              NaN            NaN                 NaN         NaN

       collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
42000                     0.00     Feb-2011           207.82
42001                     0.00     Nov-2008           621.01
42002                     0.00     Feb-2011           470.66
42003                     0.00     Feb-2011           450.84
42004                     0.85     Mar-2010           129.22
...                        ...          ...              ...
42533                     0.00     Jun-2010            82.03
42534                     0.00     Jun-2010           205.32
42535                     0.00     Jun-2010           156.39
42536                      NaN          NaN              NaN
42537                      NaN          NaN              NaN

      last_credit_pull_d  collections_12_mths_ex_med  policy_code  \
42000           Jun-2016                         0.0          1.0
42001           Jun-2016                         0.0          1.0
42002           Jun-2016                         0.0          1.0
42003           Jun-2011                         0.0          1.0
42004           Aug-2010                         0.0          1.0
...                  ...                         ...          ...
42533           May-2007                         NaN          1.0
42534           Aug-2007                         NaN          1.0
42535           Feb-2015                         NaN          1.0
42536                NaN                         NaN          NaN
42537                NaN                         NaN          NaN

      application_type  acc_now_delinq  chargeoff_within_12_mths  delinq_amnt  \
42000       INDIVIDUAL             0.0                       0.0          0.0
42001       INDIVIDUAL             0.0                       0.0          0.0
42002       INDIVIDUAL             0.0                       0.0          0.0
42003       INDIVIDUAL             0.0                       0.0          0.0
42004       INDIVIDUAL             0.0                       0.0          0.0
...                ...             ...                       ...          ...
42533       INDIVIDUAL             NaN                       NaN          NaN
42534       INDIVIDUAL             NaN                       NaN          NaN
42535       INDIVIDUAL             NaN                       NaN          NaN
42536              NaN             NaN                       NaN          NaN
42537              NaN             NaN                       NaN          NaN

       pub_rec_bankruptcies  tax_liens
42000                   NaN        0.0
42001                   NaN        0.0
42002                   NaN        0.0
42003                   NaN        0.0
42004                   NaN        0.0
...                     ...        ...
42533                   NaN        NaN
42534                   NaN        NaN
42535                   NaN        NaN
42536                   NaN        NaN
42537                   NaN        NaN

[538 rows x 52 columns]

## 4. Optimizing Numeric Columns

It looks like we were able to realize some powerful memory savings by converting to the category type and converting string columns to numeric ones.

Now let's optimize the numeric columns using the `pandas.to_numeric()` function.

**Tasks**

While working with dataframe chunks:
* Identify float columns that contain missing values, and that we can convert to a more space efficient subtype.
* Identify float columns that don't contain any missing values, and that we can convert to the integer type because they represent whole numbers.
* Based on your conclusions, perform the necessary type changes across all chunks.
* Calculate the total memory footprint and compare it with the previous one.

In [2]:
import pandas as pd

chunk_iter = pd.read_csv("loans_2007.csv", chunksize=1000, header=0)
for q in chunk_iter:
  q_columns = q.select_dtypes(include=['float64'])
  num = q_columns.columns[q_columns.isna().any()].tolist()
  q[num] = q[num].fillna(0)
  storage = (q.memory_usage(deep=True).sum())
  print(q.info(memory_usage="deep"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          1000 non-null   int64
 1   member_id                   1000 non-null   float64
 2   loan_amnt                   1000 non-null   float64
 3   funded_amnt                 1000 non-null   float64
 4   funded_amnt_inv             1000 non-null   float64
 5   term                        1000 non-null   object
 6   int_rate                    1000 non-null   object
 7   installment                 1000 non-null   float64
 8   grade                       1000 non-null   object
 9   sub_grade                   1000 non-null   object
 10  emp_title                   949 non-null    object
 11  emp_length                  983 non-null    object
 12  home_ownership              1000 non-null   object
 13  annual_inc                  1000 non-null   float64
 14  verification_status         1000 non-null   object
 15  issue_d                     1000 non-null   object
 16  loan_status                 1000 non-null   object
 17  pymnt_plan                  1000 non-null   object
 18  purpose                     1000 non-null   object
 19  title                       1000 non-null   object
 20  zip_code                    1000 non-null   object
 21  addr_state                  1000 non-null   object
 22  dti                         1000 non-null   float64
 23  delinq_2yrs                 1000 non-null   float64
 24  earliest_cr_line            1000 non-null   object
 25  inq_last_6mths              1000 non-null   float64
 26  open_acc                    1000 non-null   float64
 27  pub_rec                     1000 non-null   float64
 28  revol_bal                   1000 non-null   float64
 29  revol_util                  1000 non-null   object
 30  total_acc                   1000 non-null   float64
 31  initial_list_status         1000 non-null   object
 32  out_prncp                   1000 non-null   float64
 33  out_prncp_inv               1000 non-null   float64
 34  total_pymnt                 1000 non-null   float64
 35  total_pymnt_inv             1000 non-null   float64
 36  total_rec_prncp             1000 non-null   float64
 37  total_rec_int               1000 non-null   float64
 38  total_rec_late_fee          1000 non-null   float64
 39  recoveries                  1000 non-null   float64
 40  collection_recovery_fee     1000 non-null   float64
 41  last_pymnt_d                999 non-null    object
 42  last_pymnt_amnt             1000 non-null   float64
 43  last_credit_pull_d          1000 non-null   object
 44  collections_12_mths_ex_med  1000 non-null   float64
 45  policy_code                 1000 non-null   float64
 46  application_type            1000 non-null   object
 47  acc_now_delinq              1000 non-null   float64
 48  chargeoff_within_12_mths    1000 non-null   float64
 49  delinq_amnt                 1000 non-null   float64
 50  pub_rec_bankruptcies        1000 non-null   float64
 51  tax_liens                   1000 non-null   float64
dtypes: float64(30), int64(1), object(21)
memory usage: 1.5 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1000 to 1999
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          1000 non-null   int64
 1   member_id                   1000 non-null   float64
 2   loan_amnt                   1000 non-null   float64
 3   funded_amnt                 1000 non-null   float64
 4   funded_amnt_inv             1000 non-null   float64
 5   term                        1000 non-null   object
 6   int_rate                    1000 non-null   object
 7   installment                 1000 non-null   float64
 8   grade                       1000 non-null   object
 9   sub_grade                   1000 non-null   object
 10  emp_title                   938 non-null    object
 11  emp_length                  963 non-null    object
 12  home_ownership              1000 non-null   object
 13  annual_inc                  1000 non-null   float64
 14  verification_status         1000 non-null   object
 15  issue_d                     1000 non-null   object
 16  loan_status                 1000 non-null   object
 17  pymnt_plan                  1000 non-null   object
 18  purpose                     1000 non-null   object
 19  title                       1000 non-null   object
 20  zip_code                    1000 non-null   object
 21  addr_state                  1000 non-null   object
 22  dti                         1000 non-null   float64
 23  delinq_2yrs                 1000 non-null   float64
 24  earliest_cr_line            1000 non-null   object
 25  inq_last_6mths              1000 non-null   float64
 26  open_acc                    1000 non-null   float64
 27  pub_rec                     1000 non-null   float64
 28  revol_bal                   1000 non-null   float64
 29  revol_util                  1000 non-null   object
 30  total_acc                   1000 non-null   float64
 31  initial_list_status         1000 non-null   object
 32  out_prncp                   1000 non-null   float64
 33  out_prncp_inv               1000 non-null   float64
 34  total_pymnt                 1000 non-null   float64
 35  total_pymnt_inv             1000 non-null   float64
 36  total_rec_prncp             1000 non-null   float64
 37  total_rec_int               1000 non-null   float64
 38  total_rec_late_fee          1000 non-null   float64
 39  recoveries                  1000 non-null   float64
 40  collection_recovery_fee     1000 non-null   float64
 41  last_pymnt_d                1000 non-null   object
 42  last_pymnt_amnt             1000 non-null   float64
 43  last_credit_pull_d          1000 non-null   object
 44  collections_12_mths_ex_med  1000 non-null   float64
 45  policy_code                 1000 non-null   float64
 46  application_type            1000 non-null   object
 47  acc_now_delinq              1000 non-null   float64
 48  chargeoff_within_12_mths    1000 non-null   float64
 49  delinq_amnt                 1000 non-null   float64
 50  pub_rec_bankruptcies        1000 non-null   float64
 51  tax_liens                   1000 non-null   float64
dtypes: float64(30), int64(1), object(21)
memory usage: 1.5 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 2000 to 2999
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          1000 non-null   int64
 1   member_id                   1000 non-null   float64
 2   loan_amnt                   1000 non-null   float64
 3   funded_amnt                 1000 non-null   float64
 4   funded_amnt_inv             1000 non-null   float64
 5   term                        1000 non-null   object
 6   int_rate                    1000 non-null   object
 7   installment                 1000 non-null   float64
 8   grade                       1000 non-null   object
 9   sub_grade                   1000 non-null   object
 10  emp_title                   942 non-null    object
 11  emp_length                  971 non-null    object
 12  home_ownership              1000 non-null   object
 13  annual_inc                  1000 non-null   float64
 14  verification_status         1000 non-null   object
 15  issue_d                     1000 non-null   object
 16  loan_status                 1000 non-null   object
 17  pymnt_plan                  1000 non-null   object
 18  purpose                     1000 non-null   object
 19  title                       1000 non-null   object
 20  zip_code                    1000 non-null   object
 21  addr_state                  1000 non-null   object
 22  dti                         1000 non-null   float64
 23  delinq_2yrs                 1000 non-null   float64
 24  earliest_cr_line            1000 non-null   object
 25  inq_last_6mths              1000 non-null   float64
 26  open_acc                    1000 non-null   float64
 27  pub_rec                     1000 non-null   float64
 28  revol_bal                   1000 non-null   float64
 29  revol_util                  1000 non-null   object
 30  total_acc                   1000 non-null   float64
 31  initial_list_status         1000 non-null   object
 32  out_prncp                   1000 non-null   float64
 33  out_prncp_inv               1000 non-null   float64
 34  total_pymnt                 1000 non-null   float64
 35  total_pymnt_inv             1000 non-null   float64
 36  total_rec_prncp             1000 non-null   float64
 37  total_rec_int               1000 non-null   float64
 38  total_rec_late_fee          1000 non-null   float64
 39  recoveries                  1000 non-null   float64
 40  collection_recovery_fee     1000 non-null   float64
 41  last_pymnt_d                999 non-null    object
 42  last_pymnt_amnt             1000 non-null   float64
 43  last_credit_pull_d          1000 non-null   object
 44  collections_12_mths_ex_med  1000 non-null   float64
 45  policy_code                 1000 non-null   float64
 46  application_type            1000 non-null   object
 47  acc_now_delinq              1000 non-null   float64
 48  chargeoff_within_12_mths    1000 non-null   float64
 49  delinq_amnt                 1000 non-null   float64
 50  pub_rec_bankruptcies        1000 non-null   float64
 51  tax_liens                   1000 non-null   float64
dtypes: float64(30), int64(1), object(21)
memory usage: 1.5 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 3000 to 3999
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          1000 non-null   int64
 1   member_id                   1000 non-null   float64
 2   loan_amnt                   1000 non-null   float64
 3   funded_amnt                 1000 non-null   float64
 4   funded_amnt_inv             1000 non-null   float64
 5   term                        1000 non-null   object
 6   int_rate                    1000 non-null   object
 7   installment                 1000 non-null   float64
 8   grade                       1000 non-null   object
 9   sub_grade                   1000 non-null   object
 10  emp_title                   922 non-null    object
 11  emp_length                  956 non-null    object
 12  home_ownership              1000 non-null   object
 13  annual_inc                  1000 non-null   float64
 14  verification_status         1000 non-null   object
 15  issue_d                     1000 non-null   object
 16  loan_status                 1000 non-null   object
 17  pymnt_plan                  1000 non-null   object
 18  purpose                     1000 non-null   object
 19  title                       1000 non-null   object
 20  zip_code                    1000 non-null   object
 21  addr_state                  1000 non-null   object
 22  dti                         1000 non-null   float64
 23  delinq_2yrs                 1000 non-null   float64
 24  earliest_cr_line            1000 non-null   object
 25  inq_last_6mths              1000 non-null   float64
 26  open_acc                    1000 non-null   float64
 27  pub_rec                     1000 non-null   float64
 28  revol_bal                   1000 non-null   float64
 29  revol_util                  999 non-null    object
 30  total_acc                   1000 non-null   float64
 31  initial_list_status         1000 non-null   object
 32  out_prncp                   1000 non-null   float64
 33  out_prncp_inv               1000 non-null   float64
 34  total_pymnt                 1000 non-null   float64
 35  total_pymnt_inv             1000 non-null   float64
 36  total_rec_prncp             1000 non-null   float64
 37  total_rec_int               1000 non-null   float64
 38  total_rec_late_fee          1000 non-null   float64
 39  recoveries                  1000 non-null   float64
 40  collection_recovery_fee     1000 non-null   float64
 41  last_pymnt_d                998 non-null    object
 42  last_pymnt_amnt             1000 non-null   float64
 43  last_credit_pull_d          1000 non-null   object
 44  collections_12_mths_ex_med  1000 non-null   float64
 45  policy_code                 1000 non-null   float64
 46  application_type            1000 non-null   object
 47  acc_now_delinq              1000 non-null   float64
 48  chargeoff_within_12_mths    1000 non-null   float64
 49  delinq_amnt                 1000 non-null   float64
 50  pub_rec_bankruptcies        1000 non-null   float64
 51  tax_liens                   1000 non-null   float64
dtypes: float64(30), int64(1), object(21)
memory usage: 1.5 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 4000 to 4999
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          1000 non-null   int64
 1   member_id                   1000 non-null   float64
 2   loan_amnt                   1000 non-null   float64
 3   funded_amnt                 1000 non-null   float64
 4   funded_amnt_inv             1000 non-null   float64
 5   term                        1000 non-null   object
 6   int_rate                    1000 non-null   object
 7   installment                 1000 non-null   float64
 8   grade                       1000 non-null   object
 9   sub_grade                   1000 non-null   object
 10  emp_title                   908 non-null    object
 11  emp_length                  950 non-null    object
 12  home_ownership              1000 non-null   object
 13  annual_inc                  1000 non-null   float64
 14  verification_status         1000 non-null   object
 15  issue_d                     1000 non-null   object
 16  loan_status                 1000 non-null   object
 17  pymnt_plan                  1000 non-null   object
 18  purpose                     1000 non-null   object
 19  title                       1000 non-null   object
 20  zip_code                    1000 non-null   object
 21  addr_state                  1000 non-null   object
 22  dti                         1000 non-null   float64
 23  delinq_2yrs                 1000 non-null   float64
 24  earliest_cr_line            1000 non-null   object
 25  inq_last_6mths              1000 non-null   float64
 26  open_acc                    1000 non-null   float64
 27  pub_rec                     1000 non-null   float64
 28  revol_bal                   1000 non-null   float64
 29  revol_util                  998 non-null    object
 30  total_acc                   1000 non-null   float64
 31  initial_list_status         1000 non-null   object
 32  out_prncp                   1000 non-null   float64
 33  out_prncp_inv               1000 non-null   float64
 34  total_pymnt                 1000 non-null   float64
 35  total_pymnt_inv             1000 non-null   float64
 36  total_rec_prncp             1000 non-null   float64
 37  total_rec_int               1000 non-null   float64
 38  total_rec_late_fee          1000 non-null   float64
 39  recoveries                  1000 non-null   float64
 40  collection_recovery_fee     1000 non-null   float64
 41  last_pymnt_d                998 non-null    object
 42  last_pymnt_amnt             1000 non-null   float64
 43  last_credit_pull_d          1000 non-null   object
 44  collections_12_mths_ex_med  1000 non-null   float64
 45  policy_code                 1000 non-null   float64
 46  application_type            1000 non-null   object
 47  acc_now_delinq              1000 non-null   float64
 48  chargeoff_within_12_mths    1000 non-null   float64
 49  delinq_amnt                 1000 non-null   float64
 50  pub_rec_bankruptcies        1000 non-null   float64
 51  tax_liens                   1000 non-null   float64
dtypes: float64(30), int64(1), object(21)
memory usage: 1.5 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 5000 to 5999
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          1000 non-null   int64
 1   member_id                   1000 non-null   float64
 2   loan_amnt                   1000 non-null   float64
 3   funded_amnt                 1000 non-null   float64
 4   funded_amnt_inv             1000 non-null   float64
 5   term                        1000 non-null   object
 6   int_rate                    1000 non-null   object
 7   installment                 1000 non-null   float64
 8   grade                       1000 non-null   object
 9   sub_grade                   1000 non-null   object
 10  emp_title                   937 non-null    object
 11  emp_length                  966 non-null    object
 12  home_ownership              1000 non-null   object
 13  annual_inc                  1000 non-null   float64
 14  verification_status         1000 non-null   object
 15  issue_d                     1000 non-null   object
 16  loan_status                 1000 non-null   object
 17  pymnt_plan                  1000 non-null   object
 18  purpose                     1000 non-null   object
 19  title                       1000 non-null   object
 20  zip_code                    1000 non-null   object
 21  addr_state                  1000 non-null   object
 22  dti                         1000 non-null   float64
 23  delinq_2yrs                 1000 non-null   float64
 24  earliest_cr_line            1000 non-null   object
 25  inq_last_6mths              1000 non-null   float64
 26  open_acc                    1000 non-null   float64
 27  pub_rec                     1000 non-null   float64
 28  revol_bal                   1000 non-null   float64
 29  revol_util                  1000 non-null   object
 30  total_acc                   1000 non-null   float64
 31  initial_list_status         1000 non-null   object
 32  out_prncp                   1000 non-null   float64
 33  out_prncp_inv               1000 non-null   float64
 34  total_pymnt                 1000 non-null   float64
 35  total_pymnt_inv             1000 non-null   float64
 36  total_rec_prncp             1000 non-null   float64
 37  total_rec_int               1000 non-null   float64
 38  total_rec_late_fee          1000 non-null   float64
 39  recoveries                  1000 non-null   float64
 40  collection_recovery_fee     1000 non-null   float64
 41  last_pymnt_d                999 non-null    object
 42  last_pymnt_amnt             1000 non-null   float64
 43  last_credit_pull_d          1000 non-null   object
 44  collections_12_mths_ex_med  1000 non-null   float64
 45  policy_code                 1000 non-null   float64
 46  application_type            1000 non-null   object
 47  acc_now_delinq              1000 non-null   float64
 48  chargeoff_within_12_mths    1000 non-null   float64
 49  delinq_amnt                 1000 non-null   float64
 50  pub_rec_bankruptcies        1000 non-null   float64
 51  tax_liens                   1000 non-null   float64
dtypes: float64(30), int64(1), object(21)
memory usage: 1.5 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 6000 to 6999
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          1000 non-null   int64
 1   member_id                   1000 non-null   float64
 2   loan_amnt                   1000 non-null   float64
 3   funded_amnt                 1000 non-null   float64
 4   funded_amnt_inv             1000 non-null   float64
 5   term                        1000 non-null   object
 6   int_rate                    1000 non-null   object

## Next Steps

We've practiced optimizing a dataframe's memory footprint and working with dataframe chunks. Here's an idea for some next steps:

Create a function that automates as much of the work you just did as possible, so that you could use it on other Lending Club data sets. This function should:

* Determine the optimal chunk size based on the memory constraints you provide.

* Determine which string columns can be converted to numeric ones by removing the `%` character.

* Determine which numeric columns can be converted to more space efficient representations.

In [3]:
# Your code goes here
import pandas as pd
import numpy as np